.params {
    box-shadow: 2px 2px 8px lightgray;
    padding: 2rem;
    border-radius: 1rem;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 2rem;
    background-color: #fff;
}

.formFlex {
    min-width: min(800px, 100vw);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: space-between;
    gap: 1rem;

    >label {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        width: 100%;

        >* {
            width: 50%;
        }
    }
}