.itemRow {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    width: 100%;
    border: 1px solid rgba(black, 0.05);
    padding: 1rem;
    border-radius: 0.25rem;
    box-shadow: 3px 3px 4px rgba(black, 0.1);

    .name {
        width: 60%;

        input {
            font-size: 1.2rem;
            font-weight: 600;
            width: 100%;
        }

        textarea {
            background-color: transparent;
            border: 1px solid rgba(0, 0, 0, 0.05);
            width: 100%;
        }
    }

    .price,
    .q,
    .tot {
        text-align: center;
        width: 13%;

        input {
            max-width: 80%;
        }
    }

    .price,
    .tot {
        position: relative;

        &::after {
            content: "€";
            position: absolute;
            right: -0.5rem;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .name,
    .price,
    .q,
    .tot {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: flex-start;
        gap: 0.5rem;
        border-radius: 1rem;

        input {
            background-color: transparent;
            border: 1px solid rgba(0, 0, 0, 0.05);
        }

        &:not(.name) {
            align-items: center;
        }
    }
}