.itemRow {
    position: relative;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    width: 100%;
    border: 1px solid rgba(black, 0.05);
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 3px 3px 4px rgba(black, 0.1);
    background-image: linear-gradient(to bottom, transparent, rgba(black, 0.01));

    .name {
        width: 60%;

        input {
            font-size: clamp(0.9rem, 2.5vw, 1.1rem);
            font-weight: 500;
            width: 100%;
        }

        textarea {
            background-color: transparent;
            border: 1px solid rgba(0, 0, 0, 0.05);
            width: 100%;
        }
    }

    .price,
    .q,
    .tot {
        text-align: center;
        width: 13%;

        label {
            max-width: 80%;

            input {
                width: 100%;
            }
        }
    }

    .price,
    .q {
        input {
            font-size: 0.9em;
        }
    }

    .price,
    .tot {
        label>input {
            position: relative;

            &::after {
                z-index: 1;
                content: "€";
                position: absolute;
                right: -0.5rem;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }

    .name,
    .price,
    .q,
    .tot {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: flex-start;
        gap: 0.5rem;
        border-radius: 1rem;

        input {
            background-color: transparent;
            border: 1px solid rgba(0, 0, 0, 0.05);
        }

        &:not(.name) {
            align-items: center;
        }
    }

    .close {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: calc(100% + 0.5rem);
    }
}

@media screen and (max-width: 800px) {
    .itemRow {
        padding: 1rem 1rem;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 0;
        gap: 0;
        font-size: 0.8rem;

        >div:is(.q, .price, .tot) {
            margin: 0.5rem;
            flex-grow: 1;

        }

        .name {
            flex-basis: 100%;
            width: 100%;
        }

        .close {
            top: auto;
            left: auto;
            right: 0.5rem;
            bottom: 0.5rem;
            transform: none;
        }
    }
}