* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: #FAFAFA;
}

a {
  color: inherit;
  text-decoration: none;
}

textarea,
input,
button {
  border-radius: 0.4rem;
  border: none;
  background-color: rgb(250, 250, 250);
  padding: 0.5rem;

  &:not(button) {
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.15);
  }
}

button {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  transition: all 150ms, scale 20ms;

  &:hover {
    cursor: pointer;
    letter-spacing: 0.05rem;
    padding: auto 1rem;
    background-color: darkblue;
    color: white;
    font-weight: 600;

    &.close {
      background-color: crimson;
    }
  }

  &:active {
    scale: 0.9;
  }
}

hr {
  width: 100%;
}