.main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    padding: 6rem 1rem;
    min-height: 100vh;

    font-size: clamp(0.8rem, 2vw, 1rem);
    max-width: min(100%, 1000px);
    margin: 0 auto;

    h1 {
        text-wrap: balance;
        text-align: center;
    }
}

.smcp {
    font-variant: small-caps;
}

.flex {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 2rem;
    margin: 2rem 0;
}

.margin {
    margin: 2rem;
}

.w100 {
    width: 100%;
}

@media screen and (max-width: 800px) {
    .main {
        padding: 6rem 0.2rem;
    }
}